<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <h1 align="center">Welcome to FSN!!!</h1>
<br><br>
{% block body %}
    <div align = "center">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/5f/ca/87/5fca8757ca3b1c49e212a129326bcf2b.jpg" alt="Mountain View" style="width:250px;height:250px">
        {#action="{{ path('star') }}#}
        <form action='films' method="post">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
